.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.frame .div {
  background-image: url(https://c.animaapp.com/t443g1jU/img/bg-patterns.svg);
  background-color: #ffffff;
  width: 1920px;
  height: 4000px;
  position: relative;
}

.frame .overlap-group {
  /* background-image: url(https://c.animaapp.com/t443g1jU/img/bg-patterns.svg); */
  /* background-position: 50% 50%; */
  position: absolute;
  width: 1920px;
  height: 2171px;
  top: 387px;
  left: 50px;
}

/* .bg-patterns{
  width: 480px;
  height: 4334px;
background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
   */


.frame .div-2 {
  align-items: center;
  display: inline-flex;
  gap: 73px;
  left: 90px;
  position: absolute;
  top: 84px;
}

.frame .ellipse {
  height: 214px;
  object-fit: cover;
  position: relative;
  width: 214px;
}

.frame .div-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  width: 198px;
}

.frame .text-wrapper {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
}

.frame .element {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
}

.frame .div-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19px;
  left: 60px;
  position: absolute;
  top: 310px;
  width: 811px;
}

.frame .p {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 95px;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 50px;
  position: relative;
}

/* 이력사항 */

.frame .div-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 52px;
  left: 1050px;
  position: absolute;
  top: 88px;
  width: 800px;
}

/* Education =========================*/
.frame .div-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 19px;
  position: relative;
  width: 100%;
}

.frame .text-wrapper-4 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
}


/* ==================================== */

.frame .div-7 {
  /* align-items: center; */
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.frame .line01 {
  height: 85px;
  position: relative;
  width: 8px;
  margin-top: 5px;
}

.frame .element-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}


/* Experience =========================== */

.frame .div-8 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 19px;
  position: relative;
  width: 800px;
}

.frame .line02 {
  height: 117px;
  position: relative;
  width: 8px;
  margin-top: 5px;
}


/* Skills =============================== */

.frame .div-9 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 19px;
  position: relative;
  width: 800px;
}

.frame .line03 {
  height: 23px;
  position: relative;
  width: 8px;
  margin-top: 5px;
}

.frame .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


/* 이력서보기 */
.resume{
  position: absolute;
  width: 161px;
  height: 38px;
  top: 610px;
  left: 740px;
}

/* my portfolio ======================= */

.frame .img-2 {
  position: absolute;
  width: 1920px;
  height: 158px;
  left: 0px;
  top: 900px;
}

/* header img ========================== */
.frame .img-3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 387px;
}


/* 영상 ============================== */

.frame .video-1 {
  top: 1230px;
  left: 90px;
  position: absolute;
  width: 800px;
  height: 500px;
  object-fit: cover;
  outline: 1px solid #000000;
}

.frame .video-2 {
  top: 1230px;
  left: 1000px;
  position: absolute;
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.frame .video-3 {
  top: 1830px;
  left: 90px;
  position: absolute;
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.frame .video-4 {
  top: 1830px;
  left: 1000px;
  position: absolute;
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.frame .video-5 {
  top: 2430px;
  left: 90px;
  position: absolute;
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.frame .video-6 {
  top: 2430px;
  left: 1000px;
  position: absolute;
  width: 800px;
  height: 500px;
  object-fit: cover;
}

